<!--  Dipakai di semua halaman baru (auth, recruitment, dll) lewat components.js-->
<footer class="uaki-footer">
    <div class="uaki-container">
        <div class="uaki-footer-grid">

            <div class="uaki-footer-tentang">
                <div class="uaki-footer-logo">
                    <img src="/assets-hero/logoUAKI.svg" alt="Logo UAKI UB">
                    <span>UAKI UB</span>
                </div>
                <p>
                    United for All Knowledge and Innovation -
                    Membangun generasi muslim yang berilmu dan berinovasi.
                </p>
            </div>

            <div class="uaki-footer-kolom">
                <h4>Tautan</h4>
                <ul>
                    <li>
                        <a href="/index.html">
                            <span class="uaki-ikon-footer"><img src="/assets-bawah/icon-beranda.svg" alt=""></span>
                            Beranda
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uaki-ikon-footer"><img src="/assets-bawah/icon-tentang.svg" alt=""></span>
                            Tentang kami
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uaki-ikon-footer"><img src="/assets-bawah/icon-galeri.svg" alt=""></span>
                            Galeri
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uaki-ikon-footer"><img src="/assets-bawah/icon-artikel.svg" alt=""></span>
                            Artikel
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uaki-ikon-footer"><img src="/assets-bawah/icon-informasi.svg" alt=""></span>
                            Informasi
                        </a>
                    </li>
                </ul>
            </div>

            <div class="uaki-footer-kolom">
                <h4>Media Sosial</h4>
                <div class="uaki-sosial-ikon">
                    <a href="https://www.instagram.com/uakiub/" class="uaki-ikon-sosial">
                        <img src="/assets-bawah/icon-instagram.svg" alt="Instagram">
                    </a>
                    <a href="http://www.youtube.com/@uakiub" class="uaki-ikon-sosial">
                        <img src="/assets-bawah/icon-youtube.svg" alt="YouTube">
                    </a>
                    <a href="#" class="uaki-ikon-sosial">
                        <img src="/assets-bawah/icon-whatsapp.svg" alt="WhatsApp">
                    </a>
                </div>
            </div>

            <div class="uaki-footer-kolom">
                <h4>Alamat</h4>
                <p>Jl. Veteran No.8, Ketawanggede, Kec. Lowokwaru, Kota Malang, Jawa Timur 65145</p>
            </div>

        </div>
    </div>

    <div class="uaki-footer-bawah">
        <div class="uaki-container">
            <p>Made With Love By UAKI Development Team</p>
        </div>
    </div>
</footer>